@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');


*
{
    margin:0;
    padding:0;
}

body
{
    background-color: #FAFAFA;
}

.head
{
    position: fixed;
    z-index: 10;
}


.top-navbar
{
   width: 100%;
   height: 80px;
   position: fixed;
   display: flex;
   justify-content: space-between; 
   background-color:  #FFFFFF!important;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 500;
}

.left-navbar
{
   display: flex;   
}

.menu-icon
{
    width:30px; 
    height:24px;
    margin-left: 30px;
    margin-top: 27px;
    z-index: 30;
    cursor: pointer;
}

.company-logo
{
    width:142px; 
    height:30px;
    margin-left:25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.search-icon
{
    width:16px;
    height:16px;
    margin-top:32px;
    margin-bottom:32px;
    margin-left:77px;
}

.search
{
    /* width :49px;
    height:21px; */
    border: none;
    padding-left: 20px;
}

.right-navbar
{
    display: flex;
}

.notification
{
    margin-top:30px;
    margin-bottom:30px; 
}

.profile
{
    margin-left:52px;
    margin-top:18px;
    margin-bottom:18px;
}

.drop-design
{
    margin-left:12px;
    margin-top:28px;
    margin-bottom:30px;
    border:none;
    margin-right:44px;
}

.sidebar
{
    position: fixed;
    top : 80px;
    width:227px;
    height:100vh;
    background-color: #FFFFFF;
    font-family: 'roboto';
    font-weight: 500;
    transform: translate(-100%);
    transition: transform 0.3s linear 0s;
}

.show-sidebar
{
    transform: translate(0%)!important;
}

.link
{
    text-decoration: none;
    color:#3E3E3E;
}

.side-icon
{
    padding-top:32px;
}

.maindashboard
{
    position: absolute;;
    margin-left:274px;
    margin-top:127px;
    width: 100%;
    font-family: 'roboto';
    font-weight: 500!important;
}
.dash
{
    font-size:30px;
    color:#000000;
    font-family: 'roboto';
    font-weight:500;
   
} 
.cards
{
    display: flex;
    align-items: center;
   

}
.card1
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:219px;
    height:116px;
    background-color:#FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}
.card2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:219px;
    height:116px;
    background-color:#FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}
.card3
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:219px;
    height:116px;
    background-color:#FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}
.card4
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:219px;
    height:116px;
    background-color:#FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}
.card5
{
    display: flex;
    align-items: center;
    justify-content: center;
    width:219px;
    height:116px;
    background-color:#FFFFFF;
    margin-top: 22px;
    margin-right: 30px;
}
.bigfont
{
font-size:25px;
font-family: 'roboto';
font-weight:500;

}
.smallfont
{
font-size: 15px;
font-family: 'roboto';
font-weight: 400;
}
.graph
{
    display: flex;
}
.leftgraph
{
    margin-top: 30px;

}
.rightgraph
{
    margin-top:30px;
    margin-left: 30px;
}
.tablefirst
{
    color:#ADADAD;
    font-family: 'roboto';
    font-weight:400;
}
#tab
{
    margin-top:30px!important;
    width:1137px!important;
    font-size:15px;
    font-family: 'roboto';
    font-weight:400;
}
.btndesignpaid
{
    border-radius:5px;
    background-color: #EBFFEF;
    color:#3CDD5F;
    border:none;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom: 3px;
}
.btndesignfail
{
    border-radius:5px;
    color: #FF4545;
    background-color: #FFF5F5;
    border:none;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom: 3px;
}
.btndesignpending
{
    border-radius:5px;
    color:#BABABA;
    background-color: #F8F8F8;
    border:none;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom: 3px;
}
.styleforsale
{
    font-size: 22px;
    font-family: 'roboto';
    font-weight:500;
    padding-left: 30px;
    padding-top:23px;
}
.leftgraph
{
    background-color: #FFFFFF;
}
.time
{
    color:#ADADAD;
    text-decoration: none;
    
}

#m
{
    margin-left: 20px;
    
}
#y
{
    margin-left: 20px;
    margin-right:30px;
    text-decoration: underline;
    text-decoration-color: #C8242F;
}
.dataimage
{
    padding-left:30px;
    padding-bottom: 30px;
    padding-right:47px;
}
.styleforcountry
{
    font-size: 22px;
    font-family: 'roboto';
    font-weight:500;
    padding-left: 30px;
    padding-top:23px;
}
.rightgraph
{
    background-color: #FFFFFF;
}
.color1 .color-cont1
{
    display: flex;
}
.r
{
    width: 18px;
    height: 18px;
    margin-left: 43px;
    border-radius: 50%;    
    background-color:#C8242F;
}
.n1
{
    margin-left: 9px;
    width: 166px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.g
{
    margin-left: 26px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #A2B86C;
}
.n2
{
    margin-left: 9px;
    /* width: 51px; */
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.color-cont2
{
    display: flex;
    margin-top: 18.87px;
}
.o
{
    width: 18px;
    height: 18px;
    margin-left: 43px;
    border-radius: 50%;    
    background-color:#F16C20;
}
.n3
{
    margin-left: 9px;
    width: 45px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.y
{
    margin-left: 147px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #EBC844;
}
.n4
{
    margin-left: 9px;
    /* width: 33px; */
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.styleforinvoices
{
    font-size: 22px;
    font-family: 'roboto';
    font-weight:500;
    padding-left: 30px;
    padding-top:23px;   
}
.tabledata
{
    width:1217px;
    margin-top:30px;
    background-color: #FFFFFF;
}

.total-product
{
    width: 50px;; 
    height:50px; 
    margin-top: 15px;
}


/* ------------------------------------------------------------------------------------------ */
/* media Query for width 360px */

@media(max-width:360px)
{
    .head
    {
        position: fixed;
        z-index: 10;
    }


    .top-navbar
    {
    width: 85%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between; 
    background-color:  #FFFFFF!important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    }

    .left-navbar
    {
    display: flex;   
    }

    .menu-icon
    {
        width:50px; 
        height:50px;
        margin-left: 40px;
        margin-top: 27px;
        margin-right: 10px;
        z-index: 30;
    }

    .company-logo
    {
        width:242px; 
        height:50px;
        margin-left:25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .search-icon
    {
        width:46px;
        height:46px;
        margin-top:20px;
        margin-bottom:402px;
        margin-left:77px;
    }

    .search
    {
        /* width :49px;
        height:21px; */
        border: none;
        padding-left: 20px;
        width: 50%;
        font-size: 40px;
    }

    .right-navbar
    {
        display: flex;
        cursor: pointer;
    }

    .notification
    {
        margin-top:30px;
        margin-bottom:30px; 
        width: 40px;
        height: 40px;
    }

    .profile
    {
        margin-left:52px;
        margin-top:22px;
        margin-bottom:18px;
        margin-right: 50px;
        width: 50px;
        height: 50px;
    }

    /* .profile-name
    {
        margin-left:12px;
        margin-top:28px;
    } */

    /* .profile:hover + .drop-design
    {
        display: block;
        padding-left: -200px;
    } */


    .drop-design
    {
        margin-left:12px;
        margin-top:28px;
        margin-bottom:30px;
        border:none;
        margin-right:44px;
        font-size: 20px;
        display: none;
        /* font-weight: 100; */
    }

    .sidebar
    {
        /* position: absolute;
        top : 80px;
        width:227px;
        height:100vh;
        background-color: #FFFFFF;
        font-family: 'roboto';
        font-weight: 500;
        transform: translate(-100%);
        transition: transform 0.3s linear 0s; */
        width: 160px;
    }

    .show-sidebar
    {
        transform: translate(0%)!important;
    }

    .link
    {
        text-decoration: none;
        color:#3E3E3E;
    }

    .side-icon
    {
        padding-top:32px;
    }

    .sidebar-text
    {
        display: none;
    }

    .sidebar-icon
    {
        width: 60px;
        height: 60px;
    }

    .maindashboard
    {
        position: absolute;;
        margin-left:174px;
        margin-top:127px;
        width: 100%;
        font-family: 'roboto';
        font-weight: 500!important;
    }

    .dash
    {
        font-size:50px;
        color:#000000;
        font-family: 'roboto';
        font-weight:500;
        text-align: center;
    } 

    .cards
    {
        display: flex;
        align-items: center;
        width: 1000px;
        /* height: 400px; */
        padding-bottom: 150px;
        height: 250px;
    }
    
    .card1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:250px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 22px;
        margin-right: 30px;
        margin-left: 100px;
        /* font-size: 1000px; */
    }
    .card2
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:250px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 22px;
        margin-right: 30px;
    }
    .card3
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:250px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 22px;
        margin-right: 30px;
    }
    .card4
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:250px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 300px;
        margin-right: 30px;
        margin-left: -700px;
    }
    .card5
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:250px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 300px;
        margin-right: 30px;
    }

    .bigfont
    {
    font-size:25px;
    font-family: 'roboto';
    font-weight:500;

    }
    .smallfont
    {
    font-size: 15px;
    font-family: 'roboto';
    font-weight: 400;
    }
    .graph
    {
        display: flex;
    }
    .leftgraph
    {
        margin-top: 30px;
        /* margin-left: 30px; */
    }
    .rightgraph
    {
        margin-top:370px;
        margin-left: -650px;
    }
    .tablefirst
    {
        color:#ADADAD;
        font-family: 'roboto';
        font-weight:400;
    }
    #tab
    {
        margin-top:30px!important;
        width:1137px!important;
        font-size:15px;
        font-family: 'roboto';
        font-weight:400;
    }
    .btndesignpaid
    {
        border-radius:5px;
        background-color: #EBFFEF;
        color:#3CDD5F;
        border:none;
        padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom: 3px;
    }
    .btndesignfail
    {
        border-radius:5px;
        color: #FF4545;
        background-color: #FFF5F5;
        border:none;
        padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom: 3px;
    }
    .btndesignpending
    {
        border-radius:5px;
        color:#BABABA;
        background-color: #F8F8F8;
        border:none;
        padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom: 3px;
    }
    .styleforsale
    {
        font-size: 22px;
        font-family: 'roboto';
        font-weight:500;
        padding-left: 30px;
        padding-top:23px;
    }
    .leftgraph
    {
        background-color: #FFFFFF;
    }
    .time
    {
        color:#ADADAD;
        text-decoration: none;
        
    }

    #m
    {
        margin-left: 20px;
        
    }
    #y
    {
        margin-left: 20px;
        margin-right:30px;
        text-decoration: underline;
        text-decoration-color: #C8242F;
    }
    .dataimage
    {
        padding-left:30px;
        padding-bottom: 30px;
        padding-right:47px;
        width: 950px;
        height: 300px;
    }
    .styleforcountry
    {
        font-size: 22px;
        font-family: 'roboto';
        font-weight:500;
        padding-left: 90px;
        padding-top:23px;
    }
    .rightgraph
    {
        background-color: #FFFFFF;
    }
    .color1 .color-cont1
    {
        display: flex;
    }
    .r
    {
        width: 18px;
        height: 18px;
        margin-left: 43px;
        border-radius: 50%;    
        background-color:#C8242F;
    }
    .n1
    {
        margin-left: 9px;
        width: 166px;
        height: 20px;
        text-align: left;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }
    .g
    {
        margin-left: 26px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #A2B86C;
    }
    .n2
    {
        margin-left: 9px;
        /* width: 51px; */
        height: 20px;
        text-align: left;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }

    .color-cont2
    {
        display: flex;
        margin-top: 18.87px;
    }
    .o
    {
        width: 18px;
        height: 18px;
        margin-left: 43px;
        border-radius: 50%;    
        background-color:#F16C20;
    }
    .n3
    {
        margin-left: 9px;
        width: 45px;
        height: 20px;
        text-align: left;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }
    .y
    {
        margin-left: 147px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #EBC844;
    }
    .n4
    {
        margin-left: 9px;
        /* width: 33px; */
        height: 20px;
        text-align: left;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }
    .styleforinvoices
    {
        font-size: 22px;
        font-family: 'roboto';
        font-weight:500;
        padding-left: 30px;
        padding-top:23px;   
    }
    .tabledata
    {
        width:1217px;
        margin-top:30px;
        background-color: #FFFFFF;
    }

    .total-product
    {
        width: 50px;; 
        height:50px; 
        margin-top: 15px;
    }

    /* .color1
    {
        padding-left: 300px;
        padding-top: -1000px;
    }

    .color2
    {

    } */



}

/* ------------------------------------------------------------------------------------------ */
 /* Media-query for width : 700px */

@media (min-width:361px) and (max-width:700px)
{  
    .head
    {
        position: fixed;
        z-index: 10;
    }
    
    
    .top-navbar
    {
       width: 85%;
       height: 80px;
       position: fixed;
       display: flex;
       justify-content: space-between; 
       background-color:  #FFFFFF!important;
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
       font-weight: 500;
    }
    
    .left-navbar
    {
       display: flex;   
    }
    
    .menu-icon
    {
        width:45px; 
        height:35px;
        margin-left: 30px;
        margin-top: 27px;
        z-index: 30;
        cursor: pointer;
    }
    
    .company-logo
    {
        width:182px; 
        height:40px;
        margin-left:25px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .search-icon
    {
        width:26px;
        height:26px;
        margin-top:32px;
        margin-bottom:32px;
        margin-left:77px;
        /* font-size: 100px; */
    }
    
    .search
    {
        /* width :49px;
        height:21px; */
        border: none;
        padding-left: 20px;
        font-size: 30px;
        width: 70%;
    }
    
    .right-navbar
    {
        display: flex;
    }
    
    .notification
    {
        margin-top:30px;
        margin-bottom:30px; 
        width: 30px;
        height: 30px;
    }
    
    .profile
    {
        margin-left:52px;
        margin-top:18px;
        margin-bottom:18px;
        width: 50px;
        height: 50px;
    }

    
    
    .drop-design
    {
        margin-left:12px;
        margin-top:28px;
        margin-bottom:30px;
        border:none;
        margin-right:44px;
        font-size: medium;
    }
    
    .sidebar
    {
        /* position: fixed;
        top : 80px;
        width:227px;
        height:100vh;
        background-color: #FFFFFF;
        font-family: 'roboto';
        font-weight: 500;
        transform: translate(-100%);
        transition: transform 0.3s linear 0s; */
        width: 260px;
    }
    
    .show-sidebar
    {
        transform: translate(0%)!important;
    }
    
    .link
    {
        text-decoration: none;
        color:#3E3E3E;
    }
    
    .side-icon
    {
        padding-top:32px;
    }

    .sidebar-text
    {
        /* display: none; */
        font-size: 25px;
    }

    .sidebar-icon
    {
        width: 40px;
        height:40px;
    }
    
    .maindashboard
    {
        position: absolute;;
        margin-left:274px;
        margin-top:127px;
        width: 100%;
        font-family: 'roboto';
        font-weight: 500!important;
    }
    .dash
    {
        font-size:50px;
        color:#000000;
        font-family: 'roboto';
        font-weight:500;
        margin-top: -20px;
    } 
    .cards
    {
        display: flex;
        align-items: center;
        width: 950px;
    
    }
    .card1
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:319px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 22px;
        margin-right: 30px;
    }
    .card2
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:319px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 22px;
        margin-right: 30px;
    }
    .card3
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:319px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 22px;
        margin-right: 30px;
    }
    .card4
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:319px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 22px;
        margin-right: 30px;
    }
    .card5
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:319px;
        height:116px;
        background-color:#FFFFFF;
        margin-top: 22px;
        margin-right: 30px;
    }

    .bigfont
    {
    font-size:25px;
    font-family: 'roboto';
    font-weight:500;
    /* margin: auto; */
    }
    
    .smallfont
    {
    font-size: 15px;
    font-family: 'roboto';
    font-weight: 400;
    }
    .graph
    {
        display: flex;
        /* width: 1000px; */
    }
    .leftgraph
    {
        margin-top: 30px;
    
    }
    .rightgraph
    {
        margin-top:30px;
        margin-left: 30px;
    }
    .tablefirst
    {
        color:#9c9b9b;
        font-family: 'roboto';
        font-weight:600;
        padding: 0px;
    }
    #tab
    {
        margin-top:0px!important;
        width:1137px!important;
        font-size:15px;
        font-family: 'roboto';
        font-weight:500;
    }

    .table
    {
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
    .btndesignpaid
    {
        border-radius:5px;
        background-color: #EBFFEF;
        color:#3CDD5F;
        border:none;
        padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom: 3px;
    }
    .btndesignfail
    {
        border-radius:5px;
        color: #FF4545;
        background-color: #FFF5F5;
        border:none;
        padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom: 3px;
    }
    .btndesignpending
    {
        border-radius:5px;
        color:#BABABA;
        background-color: #F8F8F8;
        border:none;
        padding-left:10px;
        padding-right:10px;
        padding-top:3px;
        padding-bottom: 3px;
    }
    .styleforsale
    {
        font-size: 22px;
        font-family: 'roboto';
        font-weight:500;
        padding-left: 30px;
        padding-top:23px;
    }
    .leftgraph
    {
        background-color: #FFFFFF;
        /* width:200px;
        height:00px; */
    }
    .time
    {
        color:#ADADAD;
        text-decoration: none;
        
    }
    
    #m
    {
        margin-left: 20px;
        
    }
    #y
    {
        margin-left: 20px;
        margin-right:30px;
        text-decoration: underline;
        text-decoration-color: #C8242F;
    }
    .dataimage
    {
        width: 550px;
        height: 300px;
        padding-left:30px;
        padding-bottom: 30px;
        padding-right:47px;
    }
    .styleforcountry
    {
        font-size: 22px;
        font-family: 'roboto';
        font-weight:500;
        padding-left: 30px;
        padding-top:0px;
        margin-bottom: 0px;
    }
    .rightgraph
    {
        background-color: #FFFFFF;
    }
    .color1 .color-cont1
    {
        display: flex;
    }
    .r
    {
        width: 18px;
        height: 18px;
        margin-left: 43px;
        border-radius: 50%;    
        background-color:#C8242F;
    }
    .n1
    {
        margin-left: 9px;
        width: 166px;
        height: 20px;
        text-align: left;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }
    .g
    {
        margin-left: 26px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #A2B86C;
    }
    .n2
    {
        margin-left: 9px;
        /* width: 51px; */
        height: 20px;
        text-align: left;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }
    
    .color-cont2
    {
        display: flex;
        margin-top: 18.87px;
    }
    .o
    {
        width: 18px;
        height: 18px;
        margin-left: 43px;
        border-radius: 50%;    
        background-color:#F16C20;
    }
    .n3
    {
        margin-left: 9px;
        width: 45px;
        height: 20px;
        text-align: left;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }
    .y
    {
        margin-left: 147px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: #EBC844;
    }
    .n4
    {
        margin-left: 9px;
        /* width: 33px; */
        height: 20px;
        text-align: left;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #3E3E3E;
        opacity: 1;
    }

    .styleforinvoices
    {
        font-size: 32px;
        font-family: 'roboto';
        font-weight:500;
        padding-left: 30px;
        padding-top:10px; 
        margin-bottom: 10px;  
    }

    .tabledata
    {
        width:921px;
        margin-top:0px;
        background-color: #FFFFFF;
    }
    
    .total-product
    {
        width: 50px;; 
        height:50px; 
        margin-top: 15px;
    }
     

}